{%include 'navbar.html'%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">
<style>
    body{
        background-color: white;
    }
    .square{
        height: 500px;
        width: 600px;
        background-color: white;
        margin-top: 60px;
        margin-left: 450px;
        box-shadow: 0px 0px 10px black;
    }
    h2{
        text-align: center;
    }
    #btnsubmit{
        background-color: rgb(21, 25, 41);
        color: white;
        width: 80px;
        height: 35px;
        border: none;
    }
    .login-form {
        display: flex;
        flex-direction: column;
    }
    .form-row {
        margin-bottom: 20px;
        margin-left: 170px;
        margin-top: 10px;
    }
    .form-actions {
        display: flex;
        gap: 10px; 
        margin-left: 250px;
    }
    .msgs{
        margin-left: 200px;
    }
    #cpass{
        margin-left:110px;
    }
    .alert-primary{
        width: 262px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        background-color: #cfe2ff;
        margin-left: 170px;
        padding-top:10px;
    }

</style>

<div class="square">
    <h2>Registration</h2>
    <form action="" method="post">
        {%csrf_token%}
        {% if messages %}
        {{ message.tags }}
        <div class="alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="login-form">
            
            
            <div class="form-row">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <!--<div class="form-row">-->
                <div id="cpass">
                <label for="password">Confirm Password:</label>
                <input type="password" id="cpassword" name="cpassword" required>
                </div><br><br>
            <!--</div>-->
            <div class="form-actions">
                <input type="submit" value="save" id="btnsubmit">
                
            </div><br>
            <div class="msgs"><p>Already have account<a href="adduser">sign up</a></p></div>
        </div>
    </form>
    </div>



<!--<div class="square">
    <form action="" method="post">
    
        {%csrf_token%}
        <table class="table">
            <h2>Registration</h2>
            {{form.as_table}}
            <div class="form-actions">
            <tr>
                <td><input type="submit" value="save" id="btnsubmit"></td>
                <td><input type="reset" value="reset" id="btnreset"></td>
                <p>Already have account<a href="login">login</a></p>
            </tr>
        </div>
        </table>
    
    </form>
</div>-->